/* Planar Reddit - a dark flat theme for reddit            */
/* Custom reddit theme by peez                             */
/* Designed for use with RES dark theme for classic reddit */
/*                                                         */




/* Color scheme - accents based of iceberg for vim */
:root {
    --main-bg: #212121;
    --main-fg: #D2D4DE;
    --soft-red: #E98989;
    --soft-blue: #95C4CE;
    --soft-green: #B4BE82;
}


* {
    /* nuke borders */
    border: 0 !important;
    /* custom font */
    font-family: Cantarell;
}

/* replace RES nightmode gray with custom bg colour */
.res-nightmode body,
.res-nightmode body .content,
.res-nightmode .modal-body,
.res-nightmode .side,
.res-nightmode .icon-menu a,
.res-nightmode .side .leavemoderator,
.res-nightmode .side .leavecontributor-button,
.res-nightmode .side .titlebox,
.res-nightmode .side .spacer .titlebox .redditname,
.res-nightmode .side .titlebox .flairtoggle,
.res-nightmode .side .usertext-body .md ol,
.res-nightmode .side .usertext-body .md ol ol,
.res-nightmode .side .usertext-body .md ol ol li,
.res-nightmode .modactionlisting table *,
.res-nightmode .side .recommend-box .rec-item,
.res-nightmode .crosspost-preview,
.res-nightmode .crosspost-thing-preview,
.res-nightmode .entry.res-selected,
.res-nightmode .entry.res-selected .md-container,
ul {
    background: var(--main-bg) !important;
}

/* Hide stuff I dont use or dont like */
#RESDashboardLink,
#RESShortcutsEditContainer,
#aaRESStaticShortcuts,
#header-bottom-right,
#header-img,
.listing-chooser,
.srSep,
.separator,
.userTagLink,
.res-sr-style-toggle,
.sidebox.create {
    display: none !important;
}

/* r/All title bugs out - so nuke it*/
.redditname a[href*="r/all"] {
    display: none;
}

/* Subreddir bar */
#sr-header-area {
    background: var(--main-bg) !important;
    font-family: Cantarell;
    font-size: 11px;
    border: none;
}
.subbarlink,
#srDropdownContainer a {
    color: #999 !important;
    margin: 5px;
}
#RESStaticShortcuts .subbarlink {
    padding: 4px;
}

/* Banner Area */
#header-bottom-left {
    background: var(--main-bg) !important;
    border: none !important;
    font-size: 10px;
}

/* Subreddit Name */
.redditname a {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 15px;
    color: var(--main-fg) !important;
}

/* Tab menu */
.tabmenu li a,
content {
    background: var(--main-bg) !important;
    border: 0 !important;
}
.tabmenu a {
    color: #666;
}

/* Current sub + stickies + other red stuff*/
#sr-header-area a.RESShortcutsCurrentSub,
.selected a.choice,
.thing.stickied.link a.title,
.stickied-tagline,
.newComments,
.score.likes {
    color: var(--soft-red) !important;
}

/* blue stuff */
.side a,
.author,
.userattrs .submitter,
.score.dislikes {
    color: var(--soft-blue) !important;
}

/* green stuff */
.userattrs .moderator {
    color: var(--soft-green) !important;
}

/* link listing */
#siteTable {
    background: var(--main-bg) !important;
    font-family: Cantarell;
}

.title a.title:visited {
    color: #777!important;
}
/* Link font size * 
a.title {
   	font-size: 15px!important;
   	top: -3px!important;
}
/**/

/* Link domians */
.domain{
    vertical-align: 1px;
}
.domain a{
    bottom: 10px;
    vertical-align: -2px;
}

/* space between links */
.thing {
    padding-top: 10px;
}

/* make spoiler stamps more obvious */
.spoiler-stamp {
    background: var(--soft-red);
    color: var(--main-bg) !important;
    font-weight: bold;
    font-size: 8px;
    height: 14px;
}

/* Comment tracing */
.comment .child {
    border-left: 1px !important;
    border-style: solid !important;
    border-color: #333 !important;
}

/* De-emphasize comment buttons*/
.flat-list.buttons a {
    color: #555 !important;
}

/* OP Name style */
.res-userHighlight .tagline .author.submitter,
.res-userHighlight .crosspost-preview-tagline .author.submitter {
    color: var(--main-bg) !important;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
    background-color: var(--soft-blue) !important;
}

/* Mod name style */
.res-userHighlight .tagline .author.moderator,
.res-userHighlight .crosspost-preview-tagline .author.moderator {
    color: var(--main-bg) !important;
    font-weight: bold;
    padding: 0 2px 1px 2px;
    border-radius: 3px;
    background-color: var(--soft-green) !important;
}

/* link flairs */
.linkflairlabel,
span .flair {
    top: 2px;
    font-size: 9px;
    height: 12px;
    vertical-align: 0px;
}

/* Sidebar sub actions */
.option.remove,
.res-fancy-toggle-button.remove {
    background: var(--soft-red) !important;
    color: var(--main-bg) !important;
    font-weight: bold;
    font-size: 12px;
}

.option.add,
.res-fancy-toggle-button.REStoggle,
.res-fancy-toggle-button.RESshortcut {
    background: var(--soft-green) !important;
    color: var(--main-bg) !important;
    font-weight: bold;
    font-size: 12px;
}

.NERPageMarker {
    color: #666 !important;
    background: #262626 !important;
}

/* Code snippets */
pre,
code {
    font-family: Roboto Mono for Powerline !important;
    color: #ddd !important;
    background: #333 !important;
}

/* for r/Dota2 - reduce size of stream list font */

.side blockquote blockquote blockquote {
    font-size: 9px;
}

/* */
.side {
    opacity: 0!important;
    -webkit-transition: opacity 0.3s;
    transition-timing-function: ease-out;
}

.side:hover {
    opacity: 1!important;
}

/* Custom vote arrows */
.arrow.upmod {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAABmJLR0QAIQAhACFwBIFCAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4gYYCxspamQm7gAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAEzSURBVCjPxZK9SsMAFIW/JP0lJpBa2hpJJBJ0ELIIrs5pH8OXcFCoCP69h8/QNp3ExaGDuleoWGm0xSFpCi51aUtbWgUdPOPlfuceDlewLGvILyXyBy2FTVnmwHHIpVJL4diioa2qnLsuhqaxb9scViq8DgY/X7ZVlbMRCLCVy3Hhuujp9PfwGDRH4FjLDMT5qNPgcIFBYaoDcVFUgLcg4Kxe5yOKZgyuisVJAmlH18uXpRIbmcwMeFStcttu0/R99kyTdDwOwKos4xQK3DSbiOuKgq6qE9APAo5rNR57PQDuOh1OPY9evz/ZMTSNNVlG+kwmyyuSxHY+z3sYcuJ53He7M8W8hCFPvs+uYSAJAteNBl6rhWBZ1jAmCDjZLN0o4nnqwrw2FQUlkeBhlEr4t9/+AuH0Xgog98U2AAAAAElFTkSuQmCC') !important;
}

.arrow.up {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAABmJLR0QAIQAhACFwBIFCAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4gYYCx0dHYp13QAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAADBSURBVCjPrZKxDoMwDETPl0LEkJkw8v//RRgQK1JMQicQrUiR2t5o5z1LjqXv+w1fhvghRZgknHMQkSL8uCoaY9B1Hay1cM5hHEfknO8nn0EAaJoG3nuQ/Ay/g3tKAt6BnwQsgaqKYRiwrmtRQJLw3l+Cy7JcCtq2hYiAxhjUdX00Y4wvwC5S1eONtRYkQVXFPM/Ytg0xRoQQXibtghACVBU5Z0zThJQSZD/PqqqQUrr8z/NSReSQP872u6SU/nfbTyjsZwnM3wvZAAAAAElFTkSuQmCC') !important;
}

.arrow.downmod {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAABmJLR0QAIQAhACFwBIFCAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4gYYCxwmtZqtuAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAFoSURBVCjPxZLPK4NxHMdf3+exmZnsm21SZj1+lBgr/gQXNS6uDkppEidOTs6UrFiKv4JwcHBwoSn5kYzDUmoyB8qEefZ1WJ6nIQcO3rdvvV+fvp/P+y0Mw1D8Uhp/kAXrDie6w/mjuazchabr9hvAbzQTjU2g6TqbKwluLs6+gPXhCL3DozzncqwnFnjIXKNLKWcGpqYJBENUeKoItXeQuUrzeJe1wGBnF9GRcaprfHi8El99A2e7O8VvP2RtY7XPT19sgrrWdgAaIt1ER8aokhIApRT32dviqlLKmfTJIf5QIzJQixACl7uSUFuYvGnSMziEx2uD58k9tlcTqIKJ+IjK4XbTPz6JEY4ghCiaCwWEpllgKrnP1nIcM/9aeu380xNr8TnSp8coVYy+BDzYZ2Np3gK/5Pz28sxafLZkgAUuzqMK5s8lsQcc8ZZ/JZX8HgTsnT9LdzgJNLVwc3mOMs1vSyP+rdvvk1mQBYmk7GEAAAAASUVORK5CYII=') !important;
}

.arrow.down {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAABmJLR0QAIQAhACFwBIFCAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4gYYCx0xL1IZPgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAADqSURBVCjPtZLNjoQgEIRLsDHGg4l6gZvv/16C8SgJwZ9mT0PWHZ3DbrZvJF0fnaoqxnFM+OUI/GGymIggxGeWlBJlWeZ3CQBt26Lve+z7DmstjuN4ExIRtNaQUmJZFnjvIYgIXdehKAoopaC1vtC/C1/XDcMAKSXEeZ7Yti0vKqVgjMkAIoIxBkSUd2KMYGYIZoZzDjHGy0/GGNR1fQEBQAgB8zwjpYTiFZWUElprVFX1aFgIAc45MPPV7fM8Ya29XPBJ+JbzE+BOeFuSn4AnYc75DjBNE5qmgfceKd03uHwyh5mxruv/dfsL0HWAIv1rlC4AAAAASUVORK5CYII=') !important;
}

/* custom expando buttons */

.expando-button.selftext.collapsed {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QAmgCaAJqCq8OyAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAhklEQVRIx+2RMQ7DIAxFn6EMYeFS3P8amZEQGcA4Q6UqHdqp6cTfLPk/W3qSczZuiuPGLPj/4Q8AEcF7z7ZtpJRIKRFjJISAiHwsmxm9d1prlFIopXAcB6qKmT3hZsYYg1ortVb2fcc59xV8PTDnZM75mt8+vy4CqCqquoQuoUvoErrgP80JTGOzy0u1cUUAAAAASUVORK5CYII=') !important;
    background-position: 0px;
}

.expando-button.image.collapsed {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QAmgCaAJqCq8OyAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAjklEQVRIx+2UwQnEMAwEN8d91IKa0NcFuAYX6W7Ugh5qwR9D8rrjYpLAEQdC8PwWw7JeW5pijDMu4oULGeabvPcOUkornXO+V/Kp/Ypt4n9ob/fAB/2llAJVhbuDmSEiIKI+yVUVZoZaK8wMqtqvFnc/1KfMmflQn+pcRL6JP513MycihBBuPqFj5Q7zXRaB/iyYUc5DuQAAAABJRU5ErkJggg==') !important;
    background-position: 0px;
}

.expando-button.video-muted.collapsed {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QAmgCaAJqCq8OyAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAnUlEQVRIx+2VMQpDIRBExxCtBbERBAuxtvIEnsFDehprW49gLUkXEkkgAT98gq/aZWGYXQaWxBhvOIgLDmSLv+X6aZBSeulzzudyTuYozo5/Yd7uj9MyxkApBb33dWl5ptaKWiu01rDWQkq5RpwQ8qhba2itQSmFEAIYY+vEhRCw1kIpBUrpGufOORhjwDlff3Pv/fmiSPaz2OJfcwfsJiLo8C39sAAAAABJRU5ErkJggg==') !important;
    background-position: 0px;
}

.expando-button.video.collapsed {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QARABEAERSEuVjAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA2ElEQVRIx+2UPQ6DMAyFX8LPFCSuEDYkwsgBEPc/AYm5Q1gAkXQqRapaQQGpA2/352f7yaxpGo+LxHGhbvgfwTnniOP4GniapqjrGnmeIwzDn+AfqxhjSJIESilIKWGMARFhGIbj8LWEECjLElmWgYjQti2maToHvm5SFAWklCAiGGO+TrI7LYwxCCGglEJVVYii6BznAOC9R9/3yw2+rWcX3FoLrTW01pjn+ZydP6Fd12Ecx+Np8d7DWrukY4vTt/t8+ueccwRBsClyu5075+Ccu7/iDX/pAd+jXU8Ey3EVAAAAAElFTkSuQmCC') !important;
    background-position: 0px;
}